/*
*
* Copyright (c) 2021 Darryl deHaan
* SPDX-License-Identifier: MIT
*
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    chosen {
        zmk,matrix-transform = &five_column_transform;
    };
};

/ {
        combos {
                compatible = "zmk,combos";
                combo_bspc {
                        timeout-ms = <50>;
                        key-positions = <12 17>;
                        layers = <0>;
                        bindings = <&kp BSPC>;
                };
                combo_ret {
                        timeout-ms = <50>;
                        key-positions = <13 16>;
                        layers = <0>;
                        bindings = <&kp RET>;
                };
        };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮          ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ 
//       Q             W             E             R             T                        Y             U             I             O             P      
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤          ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ 
//       A             S             D             F             G                        H             J             K             L             ;  
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤          ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ 
//       Z             X             C             V             B                        N             M             ,             .             /
//╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤          ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯ 
//                               LCTRL/ESC       SPACE        LAYER_1                  LAYER_2        LSHFT        LWIN/TAB                                          
//                            ╰─────────────┴─────────────┴─────────────╯          ╰─────────────┴─────────────┴─────────────╯ 

            bindings = <
       &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I     &kp O   &kp P          
       &kp A &kp S &kp D &kp F &kp G   &kp H &kp J  &kp K     &kp L   &kp SEMI       
       &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M  &kp COMMA &kp DOT &kp FSLH       
       &mt LCTRL ESC &kp SPACE &mo 1   &mo 2 &kp LSHFT &mt LWIN TAB
            >;
        };


        lower_layer {
            display-name = "NUMBER";
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮          ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ 
//       1             2             3             4             5                        6             7             8             9             0      
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤          ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ 
//                     ~             _             +            🔊                                     [              "            ]        Print Screen 
//                     `             -             =            🔊                                                    '
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤          ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ 
//                                                              🔉                                   Insert         Home         Page Up          |
//                                                              🔉                                                                                \
//╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤          ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯ 
//                               LCTRL/ESC       SPACE        LAYER_1                  LAYER_2        LSHFT        LWIN/TAB                                          
//                            ╰─────────────┴─────────────┴─────────────╯          ╰─────────────┴─────────────┴─────────────╯ 
            bindings = <
        &kp N1 &kp N2    &kp N3    &kp N4    &kp N5           &kp N6  &kp N7   &kp N8   &kp N9    &kp N0
        &none  &kp GRAVE &kp MINUS &kp EQUAL &kp C_VOL_UP     &none   &kp LBKT &kp SQT  &kp RBKT  &kp PSCRN
        &none  &none     &none     &none     &kp C_VOL_DN     &none   &kp INS  &kp HOME &kp PG_UP &kp PIPE 
                         &trans    &trans    &trans           &trans  &trans   &trans
            >;
        };

        raise_layer {
            display-name = "SYMBOL";
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮          ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ 
//       !           @  "           #  №          $  ;           %                      ^  :           &  ?           *             (             )      
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤          ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ 
//                     ~             _             +                                                    {             "             }        Left Ctrl + 
//                     `             -             =                                                                  '                      PrintScreen
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤          ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ 
//                                                                                                    Delete         End         Page Down         |
//                                                                                                                                                 \
//╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤          ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯ 
//                                              Left Alt      LAYER_1                  LAYER_2        LSHFT        LWIN/TAB                                          
//                            ╰─────────────┴─────────────┴─────────────╯          ╰─────────────┴─────────────┴─────────────╯ 
            bindings = <
        &kp EXCL &kp AT      &kp HASH  &kp DLLR &kp PRCNT    &kp CARET &kp AMPS &kp ASTRK &kp LPAR  &kp RPAR      
        &none    &kp TILDE   &kp UNDER &kp PLUS &none        &none     &kp LBRC &kp DQT   &kp RBRC  &kp LC(PSCRN)
        &none    &none       &none     &none    &none        &none     &kp DEL  &kp END   &kp PG_DN &kp BSLH     
                    	     &none     &kp LALT &trans       &trans    &trans   &trans
            >;
        };
    };
};
